<div class="container">
  <h2> Register </h2>
  <form action="/users" method="post">
  <%= render_hidden_tags_if_needed() %>
    Name: <input type="text" name="name" placeholder="name" value=<%= current_user_name(user) %>><br>
    Email: <input type="text" name="email" placeholder="email"><br>
    Password: <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value=<%= submit_button_value %>>
  </form>
</div>
