<div class="container">
  <h2> Login </h2>
  <form action = "/login" method="post">
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Login">
     <button><a href="/users/new">Register</a></button>
  </form>
</div>
